body {
    background-color: lightsteelblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: bisque;
    text-shadow: 1px -1px 2px darkolivegreen;
}
h1 {
    text-align: center;   
}

h2 {
    text-align: center;
}



.bg-blue {
    background-color: dodgerblue;
    height: 250px;
    margin-top: 30px;
    border-radius: 15px;
    text-align: center;
}

button {
    background-color: lightsteelblue;
    color: darkcyan;
    border-radius: 5px;
}

input {
    margin-bottom: 5px;
    border-radius: 5px;
}